<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sleize</title>
  </head>
  <body >
    <!-- draggable="false" class="noSelect" -->
    <div id="root"/>
    <!-- <script>
      require("electron-disable-drop");
    </script> -->
  </body>
</html>
